&.i {
  background: $i-colour;
}
&.j {
  background: $j-colour;
}
&.l {
  background: $l-colour;
}
&.o {
  background: $o-colour;
}
&.t {
  background: $t-colour;
}
&.s {
  background: $s-colour;
}
&.z {
  background: $z-colour;
}